
body {
    background-color: #030712;
    color: #fafafa;
    font-family: harkiratfont;
}

@font-face {
    font-family: "harkiratfont";
    src: url('./a34f9d1faa5f3315-s.p.ttf'); /* Include font format */
  }
.navbar{
    background-color: #09090b;
    padding-left: 6.27604871447903vw;
    padding-right: 6.27604871447903vw;
    margin-top: 12px;
    display: flex;
    justify-content: space-between;
}

.navbar div {
    padding-bottom: 17px;
}

.navbar button, input{
    font-size: 20px;
    background-color: #030712;
    color: #fafafa;
    border-radius: 5px;
    padding: 6px;
}

.inputBox{
    width: 90px;
}

.learning h1{
    margin-top: 29px;
    font-size: 39px;
    /* font-weight: 400; */
    line-height: 24px;
    display: flex;
    justify-content: center;
}

.container-{
    
    margin-top: 40px;
    margin-left: 245px;
    margin-right: 245px;
    display: flex;
    justify-content: space-between;
    border: 2px solid white;
    border-radius: 60px;
}

.container- a{
    font-size: 16px;
    padding: 18px;
    text-decoration: none;
    color: #fafafa;
}


.vlogs{
    display: flex;
  justify-content: space-between;
  /* background-color: pink; */
  height: 17vw;
  margin-top: 33px;
  margin-left: 33px;
  margin-right: 33px;
  gap: 25px;
}

.vlogs1{
   display: flex;
   justify-content: space-between;
   border: 0.1px solid white;
   border-radius: 20px;
   
}
.vlogs2{
    display: flex;
   justify-content: space-between;
   border: 0.1px solid white;
   border-radius: 20px;
}

.vlogs1-image, .vlogs1-text, .vlogs2-text, .vlogs2-image {
    padding: 16px;
}

.button{
    margin-left: 27vw;
  width: 7vw;
  height: 40px;
  font-size: 17px;
  border-radius: 10px;
}

.footer{
    display: flex;
    justify-content: space-between;
    margin-top: 2vw;
    background-color: #0f172a;
}

.footer-logo{
    padding-left: 144px;
    padding-top: 32px;
    padding-bottom: 94px;
}

.footer-text{
    padding-top: 32px;

}

.footer-text a{
    text-decoration: none;
    color: #fafafa;
}

.footer-downloads{
    padding-top: 32px;
    padding-right: 144px;
}